<div class="top-box">
    <h1>
        <%= title %>
    </h1>

    <p>THIS IS THE PAGE WHERE THE CHATTING HAPPENS</p>
    <p>
        <a href="/logout">Let's get away from this awful app</a>
    </p>
</div>


<div class="bottom-box">
    <div class="talk-box">
        <div class="talk col-xs-8 col-md-8">
            <!-- the content of the chat is pushed here -->
        </div>
    </div>
</div>