<div class="hidden-xs">
    <div class="top-box">
        <h1>
            <%= title %>
        </h1>

        <p>The positive self talk chatbot</p>
        <p id="logout">
            <a href="/logout">Logout</a>
        </p>
    </div>
</div>


<div class="bottom-box">
    <div class="talk-box">
        <div class="talk col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <!-- the content of the chat is pushed here -->
        </div>
    </div>
</div>