/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body {
    /* background: linear-gradient(135deg, rgba(215, 212, 248, 1) 0%, rgba(241, 219, 245, 1) 100%) no-repeat; */
    background: linear-gradient(135deg, rgba(95, 80, 227, 1) 0%, rgba(195, 104, 214, 1) 100%) no-repeat;
    height: 100vh;
    color: #fff;
}

a {
    color: #fff;
}

a:focus,
a:hover {
    text-decoration-style: none;
    text-decoration: none;
    color: #fff;
}

.main {
    padding-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px;
}

.login,
.signup {
    width: 380px;
    padding-top: 50px;
    margin: 0 auto;
}


/* ================= TOP BOX ================== */

.top-box {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    /* HACK */
    padding: 20px 0 30px 70px;
    margin-left: -70px;
}


/* ================= TALK BOX ================== */

.talk-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.talk {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    /* background: linear-gradient(135deg, rgba(215, 212, 248, 1) 0%, rgba(241, 219, 245, 1) 100%) no-repeat; */
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.chat-answers {
    margin: 10px;
    background: linear-gradient(135deg, rgba(98, 84, 219, 1) 0%, rgba(201, 109, 216, 1) 100%);
    display: flex;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.user-answers {
    margin: 10px;
    background: #fff;
    display: flex;
    align-self: flex-end;
    padding: 10px;
    border-radius: 4px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.butts {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
}