/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body {
    /* background: linear-gradient(135deg, rgba(215, 212, 248, 1) 0%, rgba(241, 219, 245, 1) 100%) no-repeat; */
    background: linear-gradient(135deg, rgba(95, 80, 227, 1) 0%, rgba(195, 104, 214, 1) 100%) no-repeat;
    height: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container2 {
    height: 100vh;
}

a {
    color: #fff;
}

h1 {
    margin-top: 0;
}

a:focus,
a:hover {
    text-decoration-style: none;
    text-decoration: none;
    color: #fff;
}

.main {
    padding-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px;
}

.login,
.signup {
    width: 380px;
    padding-top: 50px;
    margin: 0 auto;
}


/* ================= TOP BOX ================== */

.top-box {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 20vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-box>h1 {
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.top-box>p {
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
}

#logout {
    align-self: flex-end;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}


/* ================= TALK BOX ================== */

.talk-box {
    /* height: 100%; */
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.bottom-box {
    height: 80vh;
    margin-top: -30px;
    padding-top: 30px;
}

.talk {
    overflow: scroll;
    /* flex-flow: column wrap; */
    display: flex;
    min-height: 75vh;
    align-items: baseline;
    flex-direction: column;
    /* background: linear-gradient(135deg, rgba(215, 212, 248, 1) 0%, rgba(241, 219, 245, 1) 100%) no-repeat; */
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 4px;
}

.chat-answers,
.user-answers {
    flex-shrink: 0;
    max-width: 90%;
    padding: 10px;
    border-radius: 4px;
    margin: 0 10px 10px 10px;
    display: flex;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.chat-answers {
    background: linear-gradient(135deg, rgba(98, 84, 219, 1) 0%, rgba(201, 109, 216, 1) 100%);
    border-radius: 4px;
    color: white;
}

.user-answers {
    background: #fff;
    align-self: flex-end;
    color: #333;
}

.buttons,
.buttons-tag {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
}

.butts>p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.butts {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
    flex-shrink: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.btn-hover:hover {
    background: #7449bd!important;
    color: #fff!important;
}

.chatbox,
.chatbox2 {
    display: flex;
    flex-shrink: 0;
}

.chatbox>img,
.chatbox2>img {
    height: 35px;
    display: flex;
    align-self: center;
    margin-top: -2px;
}


/* ================= FORM SelfT ================== */

.st-form {
    margin-bottom: 15px;
    width: 100%;
}

.st-box {
    display: inline-block;
    width: 100%;
    height: 120px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b167d9;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-save {
    align-self: flex-end;
    margin-top: -10px;
    background-color: #333;
    flex-shrink: 0;
    margin-left: 10px;
    height: 40px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

textarea:focus,
input:focus {
    outline: none;
}

input {
    height: 40px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #b167d9;
    width: 280px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

#input-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-left: 10px;
    flex-shrink: 0;
}


/* ======================================================================== 
============================= THE THREE DOTS !!!! ================== ============
 ======================================================================== */

.threedotloader {
    margin: 0 10px 10px 10px;
    background: linear-gradient(135deg, rgba(98, 84, 219, 1) 0%, rgba(201, 109, 216, 1) 100%);
    display: flex;
    padding: 10px;
    padding-top: 15px;
    border-radius: 4px;
    color: white;
    flex-shrink: 0;
    width: 50px;
    height: 40px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.threedotloader .dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #fff;
    transform: scale(0);
    display: inline-block;
    animation: dotanim 2s infinite ease-in-out;
}

.threedotloader .dot:nth-child(1) {
    animation-delay: 0s;
}

.threedotloader .dot:nth-child(2) {
    animation-delay: 0.3s;
}

.threedotloader .dot:nth-child(3) {
    animation-delay: 0.6s;
}

.threedotloader .dot:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes dotanim {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    90% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}


/* ======================================================================== 
============================= MEDIA QUERIES!! =============================
 ======================================================================== */

@media only screen and (max-width: 768px) {
    html {
        height: 100vh;
    }
    .container2 {
        height: 100vh;
    }
    .talk-box {
        height: 95vh;
        display: flex;
        justify-content: center;
        margin-top: 3vh;
    }
    .bottom-box {
        height: 100vh;
        margin-top: 0px;
        padding-top: 0px;
    }
    .talk {
        overflow: scroll;
        width: 90vw;
        /* flex-flow: column wrap; */
        display: flex;
        min-height: 90vh;
        align-items: baseline;
        flex-direction: column;
        /* background: linear-gradient(135deg, rgba(215, 212, 248, 1) 0%, rgba(241, 219, 245, 1) 100%) no-repeat; */
        background-color: rgba(255, 255, 255, 0.4);
        padding: 20px;
        border-radius: 4px;
    }
    .chat-answers,
    .user-answers {
        max-width: 80%;
    }
}